<p class="py-8">Hello! Here are some puzzles: </p>

    <% @puzzles.each do |puzzle| %>
      <div class="mt-8">
      <span class="p-4 border border-black">
        <%= link_to puzzle.title, puzzle  %>
      </span>
      </div>
    <% end %>


