<p class="py-8">Hello! Here are some puzzles: </p>


<% @puzzles.group_by{|x| x.group}.each do |group, puzzles| %>
<div class="-mb-4 ml-8 mt-8">
  <span class="rounded-xl p-2 text-2xl border border-green-800 bg-yellow-100">
      <%= group %> puzzles
  </span>
</div>

<div class="pt-8 p-4 border-black border rounded-xl">
<div class="grid auto-cols-max">
  <% puzzles.each do |puzzle| %>
      <% session = Session.where(puzzle_id: puzzle.id, user_id: current_user.id).first %>
        <span class="p-2 mb-4 mr-4 col-start-1">
          <%=link_to puzzle.title, puzzle %>
        </span>
        <div class="col-start-2 mb-4">
          <% if puzzle.finished?(current_user) %>
            <span class="m-auto rounded-full px-4 mr-2 border-2 border-green-600 text-green-600 p-2 rounded  leading-none flex items-center">Finished </span>
          <% else %> 
            <%= link_to 'Start', puzzle, method: :get, class: "inline-block m-auto rounded-full px-4 mr-2 border-2 border-black text-black p-2 rounded  leading-none text-center" %>
          <% end %>
        </div>
    <% end %>

</div>
  </div>
<% end %>
