[Unit]
Description=Firecracker Manager

[Service]
ExecStart=/app/firecracker-manager/firecracker-manager

[Install]
WantedBy=multi-user.target
Alias=firecracker.service
