<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#"><!--<![endif]-->

    <head>
        <title> wizard debugging school &lt;3 </title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="author" content="">
 <%= csrf_meta_tags %> 
        <link rel="canonical" href="https://debugging-school.jvns.ca" />
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&amp;display=swap" rel="stylesheet">
        <link href="/tailwind.css" rel="stylesheet">
        <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

<style type="text/css">
body {
  font-family: Inter;
}
</style>

<div class="flex w-full text-orange-600 leading-none py-4 bg-green-100 border-b-2 border-black">
  <a href='/'><span class="text-3xl px-8">exploding computer puzzles</span></a>
  <% if user_signed_in? %>
    <span class="flex-grow text-right px-8 leading-2" > signed in as <%= current_user.email %> (<%= link_to "sign out", destroy_user_session_path, method: :get, class: "underline" %>)</span>
  <% else %>
  <% end %>
</div>

<div class="container mx-auto px-8 py-8 lg:w-3/5">
    <%= yield %>
</div>

<!--
<div class="container mx-auto lg:w-3/5 px-4 pt-8 mb-4">

&copy; Julia Evans 2018 | All rights reserved

</div>
-->

</body>
</html>
